@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
	--b1: rgb(0, 0, 0, 1);
	--bgc1: rgb(255, 255, 255);
	--bgc2: rgb(245, 245, 245);
    --b095 : rgb(0, 0, 0, .95);
    --b09 : rgb(0, 0, 0, .9);
    --b085 : rgb(0, 0, 0, .85);
    --b08 : rgb(0, 0, 0, .8);
    --b075 : rgb(0, 0, 0, .75);
    --b07 : rgb(0, 0, 0, .7);
    --b065 : rgb(0, 0, 0, .65);
    --b06 : rgb(0, 0, 0, .6);
    --b055 : rgb(0, 0, 0, .55);
    --b05 : rgb(0, 0, 0, .5);
    --b045 : rgb(0, 0, 0, .45);
    --b04 : rgb(0, 0, 0, .4);
    --b035 : rgb(0, 0, 0, .35);
    --b03 : rgb(0, 0, 0, .3);
    --b025 : rgb(0, 0, 0, .25);
    --b02 : rgb(0, 0, 0, .2);
    --b015 : rgb(0, 0, 0, .15);
    --b01 : rgb(0, 0, 0, .1);
    --b0075 : rgb(0, 0, 0, .075);
    --b005 : rgb(0, 0, 0, .05);
    --b0025 : rgb(0, 0, 0, .025);
    --b001 : rgb(0, 0, 0, .01);
    --w1 : rgb(255, 255, 255, 1);
    --w095 : rgb(255, 255, 255, .95);
    --w09 : rgb(255, 255, 255, .9);
    --w085 : rgb(255, 255, 255, .85);
    --w08 : rgb(255, 255, 255, .8);
    --w075 : rgb(255, 255, 255, .75);
    --w07 : rgb(255, 255, 255, .7);
    --w065 : rgb(255, 255, 255, .65);
    --w06 : rgb(255, 255, 255, .6);
    --w055 : rgb(255, 255, 255, .55);
    --w05 : rgb(255, 255, 255, .5);
    --w045 : rgb(255, 255, 255, .45);
    --w04 : rgb(255, 255, 255, .4);
    --w035 : rgb(255, 255, 255, .35);
    --w03 : rgb(255, 255, 255, .3);
    --w025 : rgb(255, 255, 255, .25);
    --w02 : rgb(255, 255, 255, .2);
    --w015 : rgb(255, 255, 255, .15);
    --w01 : rgb(255, 255, 255, .1);
    --w0075 : rgb(255, 255, 255, .075);
    --w005 : rgb(255, 255, 255, .05);
    --w0025 : rgb(255, 255, 255, .025);
    --w001 : rgb(255, 255, 255, .01);
}

@media (prefers-color-scheme: dark) {
    :root {
		--b1: rgb(255, 255, 255, 1);
		--bgc1: rgb(20, 20, 20);
		--bgc2: rgb(10, 10, 10);
        --b095 : rgb(255, 255, 255, .95);
        --b09 : rgb(255, 255, 255, .9);
        --b085 : rgb(255, 255, 255, .85);
        --b08 : rgb(255, 255, 255, .8);
        --b075 : rgb(255, 255, 255, .75);
        --b07 : rgb(255, 255, 255, .7);
        --b065 : rgb(255, 255, 255, .65);
        --b06 : rgb(255, 255, 255, .6);
        --b055 : rgb(255, 255, 255, .55);
        --b05 : rgb(255, 255, 255, .5);
        --b045 : rgb(255, 255, 255, .45);
        --b04 : rgb(255, 255, 255, .4);
        --b035 : rgb(255, 255, 255, .35);
        --b03 : rgb(255, 255, 255, .3);
        --b025 : rgb(255, 255, 255, .25);
        --b02 : rgb(255, 255, 255, .2);
        --b015 : rgb(255, 255, 255, .15);
        --b01 : rgb(255, 255, 255, .1);
        --b0075 : rgb(255, 255, 255, .075);
        --b005 : rgb(255, 255, 255, .05);
        --b0025 : rgb(255, 255, 255, .025);
        --b001 : rgb(255, 255, 255, .01);
        --w1 : rgb(0, 0, 0, 1);
        --w095 : rgb(0, 0, 0, .95);
        --w09 : rgb(0, 0, 0, .9);
        --w085 : rgb(0, 0, 0, .85);
        --w08 : rgb(0, 0, 0, .8);
        --w075 : rgb(0, 0, 0, .75);
        --w07 : rgb(0, 0, 0, .7);
        --w065 : rgb(0, 0, 0, .65);
        --w06 : rgb(0, 0, 0, .6);
        --w055 : rgb(0, 0, 0, .55);
        --w05 : rgb(0, 0, 0, .5);
        --w045 : rgb(0, 0, 0, .45);
        --w04 : rgb(0, 0, 0, .4);
        --w035 : rgb(0, 0, 0, .35);
        --w03 : rgb(0, 0, 0, .3);
        --w025 : rgb(0, 0, 0, .25);
        --w02 : rgb(0, 0, 0, .2);
        --w015 : rgb(0, 0, 0, .15);
        --w01 : rgb(0, 0, 0, .1);
        --w0075 : rgb(0, 0, 0, .075);
        --w005 : rgb(0, 0, 0, .05);
        --w0025 : rgb(0, 0, 0, .025);
        --w001 : rgb(0, 0, 0, .01);
    }
}

* {
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

html,
body,
div#root {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: "Roboto Mono", monospace;
}

h4 {
	margin: 40px 0;
	color: var(--b05);
	text-align: center;
}

input, select {
	width: 100%;
	padding: 10px;
	font-size: 12pt;
	letter-spacing: 1pt;
	border: 2px solid var(--b01);
	background-color: var(--b005);
	border-radius: 5px;
	color: var(--b09);
}

input::placeholder {
	color: var(--b025);
}

select::-webkit-scrollbar {
	width: 5px;
	background-color: var(--bgc1);
}

select::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--b05);
}

select:invalid {
	color: var(--b05);
}

select option {
	background-color: var(--bgc1);
	color: var(--b09);
}